---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<h1 class="text-5xl font-bold mb-4">Welcome to Flamingo Labs</h1>
	<p class="text-3xl">Website coming soon...</p>
	<p class="text-3xl">In the meantime, visit <a href="https://github.com/Flamingo-Labs" class="font-semibold underline text-[#cba6f7]">our GitHub</a>.</p>
</Layout>
