---
import './src/styles/global.css';

const { title } = Astro.props;

interface Props {
	title: string;
}
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Flamingo Labs - {title}</title>
	</head>
	<body class="bg-[#1e1e2e] text-[#cdd6f4]">
		<div class="container mx-auto max-w-4xl">
			<slot />
		</div>
	</body>
</html>